{%- comment -%}
  Include as: {%- include_cached components/site_nav.html all=bool -%}
  Depends on: site.
  Results in: cached HTML for the main navigation when `all` is nil or false;
    includes links to pages excluded from the main navigation when `all` is true.
  Includes:
    components/nav/pages.html
  Overwrites:
    pages_top_size, collections_size, collection_entry,
    collection_key, collection_value, collection.
{%- endcomment -%}

<nav aria-label="Main" id="site-nav" class="site-nav">
    <ul class="nav-list">
      {% for item in site.navigation_order %}
        {% assign page = site.pages | where: "title", item | first %}
        {% if page %}
          <li class="nav-list-item">
            <a href="{{ page.url | relative_url }}" class="nav-list-link">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  

{% if site.nav_error_report %}
{{ nav_error_report }}
{%- endif %}